<link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" charset="utf-8">
<script src="/static/js/jquery-1.11.3.min.js" charset="utf-8"></script>
<script  type="text/javascript" src="/static/jstypeahead.min.js"></script>
<meta charset="utf-8">
<title>Example App</title>
<style>
    label,
    input {
        width: 100%;
    }

    input[type="button"] {
        max-width: 20em;
        display: block;
    }

    textarea {
        max-width: 100%;
    }

    .row {
        border-bottom: solid 1px #e3e3e3;
    }

    .col-sm-6 {
        padding-bottom: 1em;
    }

    .work-days-column,
    .user-allowed-pages {
        text-align: center;
    }
</style>
