<html lang="en">

<head>
    <% include ./partials/head %>
        <% include ./partials/header %>
            <h2>Register Form</h2>
            <form method="post" action="/user-maintenance">
                <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span>
                        <%= errorMessage %>
                    </span>
                    <% } %>

                        <article class="panel-group" id="accordion">
                            <h1>User maintenance</h1>
                            <section class="panel panel-default">
                                <header class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Search</a>
                                    </h2>
                                </header>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body row">
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <input type="text" placeholder=" search by...">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <input type="text" placeholder=" search for...">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <input type="button" value="Search">
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <header class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">User details</a>
                                    </h2>
                                </header>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <label for="username">username</label>
                                            <input type="text" name="username" id="username" placeholder="username" />

                                            <label for="password">password</label>
                                            <input type="password" name="password" id="password" placeholder="password" />

                                            <label for="firstname">First name</label>
                                            <input type="text" name="firstname" id="firstname" placeholder="First name" />

                                            <label for="lastname">Last name</label>
                                            <input type="text" name="lastname" id="lastname" placeholder="Last name" />

                                            <label for="role">Role</label>
                                            <input type="text" name="role" id="role" placeholder="Role" />

                                            <label for="organisation">Organisation</label>
                                            <input type="text" name="organisation" id="organisation" placeholder="" />

                                            <label for="address-1">Address line 1</label>
                                            <input type="text" name="address-1" id="address-1" placeholder="Address line 1" />

                                            <label for="address-2">Address line 2</label>
                                            <input type="text" name="address-2" id="address-2" placeholder="Address line 2" />

                                            <label for="town">Town</label>
                                            <input type="text" name="role" id="role" placeholder="Role" />

                                            <label for="county">County</label>
                                            <input type="text" name="county" id="county" placeholder="County" />

                                            <label for="phone">Phone number</label>
                                            <input type="text" name="phone" id="phone" placeholder="Phone number" />

                                            <label for="phone-alt">Alternative phone number</label>
                                            <input type="text" name="phone-alt" id="phone-alt" placeholder="Alt phone number" />

                                            <label for="email">Email</label>
                                            <input type="text" name="user-email">
                                        </div>
                                        <div class="col-xs-12">
                                            <label for="days-of-work">Days of work</label>
                                        </div>
                                        <div class="col-xs-2 work-days-column">
                                            <label>Monday</label>
                                            <input type="checkbox" name="monday" value="false">
                                        </div>
                                        <div class="col-xs-2 work-days-column">
                                            <label>Tuesday</label>
                                            <input type="checkbox" name="tuesday" value="false">
                                        </div>
                                        <div class="col-xs-2 work-days-column">
                                            <label>Wednesday</label>
                                            <input type="checkbox" name="wednesday" value="false">
                                        </div>
                                        <div class="col-xs-2 work-days-column">
                                            <label>Thursday</label>
                                            <input type="checkbox" name="thursday" value="false">
                                        </div>
                                        <div class="col-xs-2 work-days-column">
                                            <label>Friday</label>
                                            <input type="checkbox" name="friday" value="false">
                                        </div>
                                        <div class="col-xs-2 work-days-column">
                                            <label>Saturday</label>
                                            <input type="checkbox" name="saturday" value="false">
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <header class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">User privileges</a>
                                    </h2>
                                </header>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            <label id="" for="user-access-level">Access level</label>
                                            <select name="user-access-level" id="">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12">
                                            <label>Allowed pages</label>
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Case details</label>
                                            <input type="checkbox" name="case-details" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Contact log</label>
                                            <input type="checkbox" name="contact-log" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Case worker action log</label>
                                            <input type="checkbox" name="case-worker-log" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Outreach log</label>
                                            <input type="checkbox" name="outreach-log" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Interventions log</label>
                                            <input type="checkbox" name="interventions-log" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Satisfaction survey</label>
                                            <input type="checkbox" name="satisfaction-survey" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>User maintenance</label>
                                            <input type="checkbox" name="user-maintenance" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Partners log</label>
                                            <input type="checkbox" name="partners-log" value="false">
                                        </div>
                                        <div class="col-xs-2 user-allowed-pages">
                                            <label>Reports</label>
                                            <input type="checkbox" name="reports" value="false">
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-default">
                                <header class="panel-heading">
                                    <h2 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Additional info</a>
                                    </h2>
                                </header>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body row">
                                        <div class="col-xs-12 col-md-3 ">
                                            <label>Current employee</label>
                                            <select name="current-employee" id="">
                                                <option value="y">Yes</option>
                                                <option value="n">No</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-md-9 ">
                                            <label>Notes</label>
                                            <textarea name="user-notes" rows="8" cols="100"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </section>

                        </article>

                        <input type="submit" name="signup" id="signup" value="register" />
                        <a href="/signin" title="sign in">sign in</a>

            </form>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('input.typeahead').typeahead({
                        name: 'countries',
                        remote: 'http://localhost:3000/search?key=%QUERY',
                        limit: 10
                    });
                });
            </script>

            <% include ./partials/footer %>
